* {
  text-align:  center;
}

.container {
  padding: 40px 0px;
}

.pagination > ul {
  justify-content: center;
}

.sort {
  border: none;
  background-color: transparent;
  font-size: 15px;
  cursor: pointer;
}

.btn {
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}